@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&family=PT+Sans+Narrow:wght@400;700&display=swap");

:root {
  --dark-color: #000000;
  --darkblue-color: #14213d;
  --vibrant-yellow: #fca311;
  --grey-color: #e5e5e5;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: all 300ms ease;
  color: var(--white-color);
}

a:hover {
  color: var(--vibrant-yellow);
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: var(--darkblue-color);
  color: var(--vibrant-yellow);
}

.title__font {
  font-family: "Londrina Solid", sans-serif;
}

.alt__font {
  font-family: "Londrina Shadow", sans-serif;
}

/* Navbar */
nav {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-size: 28px;
  color: var(--white-color);
}

.nav__links a {
  margin-right: 20px;
  font-size: 18px;
}

/* Hero Section */

main {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1796730/pexels-photo-1796730.jpeg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: var(--grey-color);

  h1 {
    font-size: 100px;
    letter-spacing: 10px;
  }

  p {
    font-size: 36px;
    width: 50%;
    margin-top: 20px;
  }
}

/* Project section */

.project__section {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 60px;
    letter-spacing: 5px;
    color: var(--grey-color);
  }
}

#Projects {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  margin: 40px auto;
  width: 70%;
  height: 100%;
  gap: 20px;
}

.project {
  background-color: var(--grey-color);
  color: var(--darkblue-color);
  border-radius: 10px;
  width: 90%;
  height: 100%;
  text-align: center;

  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  p {
    padding: 20px;
    font-size: 18px;
  }
}

.project__title {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    color: var(--darkblue-color);
    letter-spacing: normal;
    font-size: 28px;
  }

  i {
    margin-left: 10px;
    font-size: 18px;
    color: var(--darkblue-color);
    transition: all 300ms ease;
  }

  i:hover {
    color: var(--vibrant-yellow);
  }
}

.tech__stack {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  font-size: 30px;
}

/* Dad Joke Generator */

.dad__jokes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-color);
  height: 100%;
  padding: 40px;
}

.dad__jokes--intro {
  display: flex;
  flex-direction: column;
  color: var(--darkblue-color);
  text-align: center;
  gap: 20px;
  margin-bottom: 40px;

  h2 {
    font-size: 60px;
  }
  p {
    font-size: 36px;
  }
}

.joke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dad__joke--section {
  background-color: var(--darkblue-color);
  width: 900px;
  height: 150px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    font-size: 28px;
  }
}

button {
  background-color: var(--darkblue-color);
  color: var(--grey-color);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 100ms ease;
}

button:hover {
  background-color: var(--vibrant-yellow);
  text-shadow: 0.5px 0.5px var(--darkblue-color);
}

button:active {
  color: var(--darkblue-color);
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--grey-color);
  a {
    color: var(--darkblue-color);
    font-size: 24px;
  }
}

/* Contact page */

#contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__container {
  background-color: var(--grey-color);
  color: var(--darkblue-color);
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  width: 700px;

  h1 {
    font-size: 48px;
    width: 400px;
    margin: 0 auto;
  }

  p {
    font-size: 32px;
    width: 350px;
    margin: 20px auto;
    text-align: left;
  }

  a {
    color: var(--darkblue-color);
    transition: all 300ms ease;
  }

  a:hover {
    text-shadow: 0 0 2px var(--darkblue-color);
    font-family: "Londrina Solid";
    color: var(--vibrant-yellow);
  }
}

/* Media Queries */

/* Small laptops */
@media (max-width: 1024px) {
  #Projects {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .tech__stack {
    width: 80%;
  }

  .dad__jokes--intro {
    h2 {
      font-size: 48px;
    }

    p {
      font-size: 24px;
    }
  }

  .dad__joke--section {
    width: 90%;
    h3 {
      font-size: 24px;
    }
  }

  button {
    font-size: 18px;
  }
}

/* Tablets */

@media (max-width: 768px) {
  main {
    h1 {
      font-size: 70px;
    }

    p {
      font-size: 28px;
    }
  }

  .project__section {
    h2 {
      font-size: 48px;
    }
  }

  .project__title {
    h2 {
      font-size: 28px;
    }
  }

  button {
    width: 300px;
    font-size: 16px;
  }

  .dad__joke--section {
    h3 {
      font-size: 20px;
    }
  }

  /* Contact Page */
  .contact__container {
    width: 90%;

    h1 {
      font-size: 36px;
      width: auto;
    }

    p {
      font-size: 24px;
      width: 90%;
    }
  }
}

/* Phones  */
@media (max-width: 480px) {
  main {
    h1 {
      font-size: 48px;
    }

    p {
      font-size: 20px;
    }
  }
}
