@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Londrina+Solid:wght@100;300;400;900&family=PT+Sans+Narrow:wght@400;700&display=swap");

:root {
  --dark-color: #000000;
  --darkblue-color: #14213d;
  --vibrant-yellow: #fca311;
  --grey-color: #e5e5e5;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 300ms ease;
  color: var(--white-color);
}

a:hover {
  color: var(--vibrant-yellow);
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: var(--darkblue-color);
  color: var(--vibrant-yellow);
}

.title__font {
  font-family: "Londrina Solid", sans-serif;
}

.alt__font {
  font-family: "Londrina Shadow", sans-serif;
}

/* Navbar */
nav {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-size: 28px;
  color: var(--white-color);
}

.nav__links a {
  margin-right: 20px;
  font-size: 18px;
}

/* Hero Section */

main {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1796730/pexels-photo-1796730.jpeg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  color: var(--grey-color);

  h1 {
    font-size: 100px;
    letter-spacing: 10px;
  }

  p {
    font-size: 30px;
    width: 50%;
    margin-top: 20px;
  }
}
